<%-include('partials/_header.ejs')-%>
<body class="host_version"> 

	<!-- Modal -->
	<%-include('partials/_loginModal.ejs')-%>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	

    <!-- Start header -->
	<%-include('partials/_navbar.ejs')-%>
	<!-- End header -->
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1><%=user.name%><span class="m_1"><%=user.role%></span></h1>
		</div>
	</div>
	
  	
	<div id="overviews" class="section wb">
        <div class="container">
			<!-- Button trigger modal -->
	<div class="col-md-6 mx-auto">
		<button type="button" class="btn btn-warning " data-toggle="modal" data-target="#exampleModal">
			Launch demo modal
				  </button>
	</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="add-course" method="POST">
			<div class="form-group">
				<label for="exampleInputEmail1">Kurs Adı</label>
				<input type="text" class="form-control" id="coursename" aria-describedby="coursename" placeholder="Dünyanın en iyi kursu...">

			  </div>
			  <div class="form-group">
				<label for="coursedescription">Açıklama</label>
				<input type="text" class="form-control" id="coursedescription" placeholder="Bu kurs çok iyi...">
			  </div>
			  <div class="form-group">
				<label for="category">Kategori</label>
				<select id="category" class="form-control" name="category">
					<% for (let i=0; i< categories.length; i++) { %>
				  <option name="category" value="<%= categories[i]._id%>"><%= categories[i].title%></option>
				  <% }%>

				</select>
			  </div>
			  <div class="form-group">
				<label for="thumbnail">Açıklama</label>
				<input type="file" class="form-control" name="thumbnail" id="thumbnail">
			  </div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-warning">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
            <div class="row"> 
				

                <div class="col-lg-9 blog-post-single">	
					<div class="blog-author">
						<div class="author-bio">
							<h3 class="author_name"><a href="#"><%=user.name%></a></h3>
							<h5><%=user.title%></h5>
							<p class="author_det">
								<%=user.bio%> 
							</p>
						</div>
						<div class="author-desc">
							<img src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" alt="about author">
							<ul class="author-social">
								
								<li><a target="_blank" href="<%= user.linkedin %>"><i class="fa fa-linkedin"></i></a></li>
								<li><a target="_blank" href="<%= user.github %>"><i class="fa fa-github"></i></a></li>
								<li><a target="_blank" href="<%= user.website %>"><i class="fa fa-globe"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="row">
					
					<hr>

					<% for (let i=0; i< 10; i++) { %>
                <div class="col-lg-4 col-md-4 col-12">
					<div class="course-item">
						<div class="image-blog">
							<img src="#" alt="" class="img-fluid">
						</div>
						<div class="course-br">
							<div class="course-title">
								<h2><a href="" title="">course title</a></h2>
							</div>
							<div class="course-desc">
								<p>course desc.</p>
							</div>
						
							<div class="course-rating">
								4.5
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star"></i>	
								<i class="fa fa-star-half"></i>								
							</div><small>	<i class="fa fa-user" aria-hidden="true"></i> Gokhan Kandemir</small>
						</div>
						<div class="course-meta-bot">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i> created at></li>
								<li><i class="fa fa-users" aria-hidden="true"></i> 56 Student</li>
								<li><i class="fa fa-book" aria-hidden="true"></i> category</li>
							</ul>
						</div>
					</div>
                </div><!-- end col -->
				<% } %>
	
				</div>
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="#">
								<div>
									<input class="input-text form-control" name="search-k" id="search-k" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							
							<li><a href="">category title></a></li>
							
						
						</ul>
					</div>
					<div class="widget-tags">
						<h3 class="widget-title">Search Tags</h3>
						<ul class="tags">
							<li><a href="#"><b>business</b></a></li>
							<li><a href="#"><b>jquery</b></a></li>
							<li><a href="#">corporate</a></li>
							<li><a href="#">portfolio</a></li>
							<li><a href="#">css3</a></li>
							<li><a href="#"><b>theme</b></a></li>
							<li><a href="#"><b>html5</b></a></li>
							<li><a href="#"><b>mysql</b></a></li>
							<li><a href="#">multipurpose</a></li>
							<li><a href="#">responsive</a></li>
							<li><a href="#">premium</a></li>
							<li><a href="#">javascript</a></li>
							<li><a href="#"><b>Best jQuery</b></a></li>
						</ul>
					</div>
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->



	<%-include('partials/_footer.ejs')-%><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">SmartEDU</a> Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/js/custom.js"></script>

</body>
</html>